.maincontents__toptext{data: {message: {id: "#{message.id}"}}}
  .maincontents__toptext__left
    = message.user.name
  .maincontents__toptext__right
    = message.created_at.strftime("%Y/%m/%d %H:%M")
.maincontents__bottomtext
  - if message.content.present?
    %p.lower-message__content
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?